.banner {
    margin-top: 86px;
    background: url(../images/main/banner/bg-banner.png) center/ cover no-repeat;

    &__wrapper {
        padding: 52px 103px 53px 51px;
        display: flex;
    }

    &__carusel {
        margin-right: 70px;

        .carusel {
            &__btns {
                margin-top: 22px;
                margin-right: 83px;
                text-align: right;
            }

            &__num {
                font-family: 'Prata';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: rgba(27, 26, 23, 0.82);
            }

            &__prev {
                position: relative;
                cursor: pointer;
            }

            &__prev::after {
                position: absolute;
                bottom: 5px;
                right: 20px;
                content: '';
                display: inline-block;
                width: 7px;
                border: 0.5px solid #1B1A17;
                transform: rotate(45deg);
            }

            &__prev::before {
                position: absolute;
                top: 5px;
                right: 20px;
                content: '';
                display: inline-block;
                width: 7px;
                border: 0.5px solid #1B1A17;
                transform: rotate(-45deg);
            }

            &__next {
                position: relative;
                cursor: pointer;
            }

            &__next::after {
                position: absolute;
                bottom: 5px;
                left: 20px;
                content: '';
                display: inline-block;
                width: 7px;
                border: 0.5px solid #1B1A17;
                transform: rotate(-45deg);
            }

            &__next::before {
                position: absolute;
                top: 5px;
                left: 20px;
                content: '';
                display: inline-block;
                width: 7px;
                border: 0.5px solid #1B1A17;
                transform: rotate(45deg);
            }
        }
    }

    &__info {
        .info {
            &__title {
                margin-top: 88px;
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 43px;
                color: #1B1A17;
            }

            &__text {
                margin-top: 38px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #444240;
            }

            &__link {
                display: block;
                margin-top: 45px;
                background: #D4B098;
                width: 205px;
                height: 64px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 64px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}