.footer {
    margin-top: 90px;
    background: #444240;
    padding: 79px 103px 67px 80px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__links {
        margin-top: 32px;

        ul {
            list-style-type: none;

            li {
                margin-top: 15px;

                a {
                    text-decoration: none;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(255, 255, 255, 0.75)
                }
            }
        }
    }

    &__items {
        >h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        >ul {
            margin-top: 33px;
            list-style-type: none;

            li {
                margin-top: 15px;

                a {
                    text-decoration: none;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(255, 255, 255, 0.75)
                }
            }
        }
    }
}