.news {
    background: white;
    margin-top: 81px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-right: 21px;

        .info {
            &__title {
                margin-top: 140px;
                font-family: 'Playfair Display';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 43px;
                color: #1B1A17;
            }

            &__text {
                margin-top: 40px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                color: #444240;
            }

            &__icons {
                margin-top: 120px;
                display: flex;

                img {
                    height: 20px;
                    margin-right: 18px;
                }
            }
        }
    }

    &__photo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "first third"
            "second third";
        align-items: stretch;

        img {
            height: 100%;
        }
    }

    &__photo-first {
        grid-area: first;
        width: 242px;
    }

    &__photo-second {
        grid-area: second;
        width: 242px;
    }

    &__photo-third {
        grid-area: third;
    }
}